@using  Store.Data.Common.ViewModels
@model List<ProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ProductName</th>
            <th scope="col">Description</th>
            <th scope="col">ProductPrice</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            int count = 1;
        }
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@product.ProductName</td>
                <td>@product.Description</td>
                <td>@product.ProductPrice</td>
            </tr>

            count++;
        }


    </tbody>
</table>
